:root {
    --main-bg: #3b3b3b;
    --primary: #51b56d;
    --active: #5b25b1;
    --red: #bf3353;
    --race: #ff7d39;
    --dark-l: #141414;
    --dark-m: #010101;
    --disabled: #777777;
    --main-text: #f0f0f0;

    --main-border: #e8e8e1;
    --main-bg-light: #3e3e3e;
    --text-light: #575757;

    --car-race: #525252;
    --car-race-border: #fff;
    --table-row: #ffffff21;
  }