:root {
    --main-bg: #3b3b3b;
    --primary: #51b56d;
    --dark-l: #141414;
    --dark-m: #010101;

    --main-border: #e8e8e1;
    --main-bg-light: #3e3e3e;
    --text-light: #575757;
    --main-text: #e7e7e7;
    --primary-btn: rgb(169, 230, 113);
    --car-btn: rgb(113, 222, 230);
    --car-race: #525252;
    --car-race-border: #fff;
    --table-row: #ffffff21;
    --btn-disabled: #c1c7bb;
    --message-bg: #c52f5c38;
  }