@use '@src/sass/abstracts/variables' as *;

.header {
  &__item {
    margin: 0.3rem;
  }

  &__link {
    color: $main-bg;
    text-decoration: none;
    background-color: $primary-btn;
    padding: 0.3rem 1rem;
    font-size: 1.8rem;
  }
}
