$main-border: #e8e8e1;
$main-bg: #222222;
$text-light: #575757;
$main-text: #e7e7e7;
$primary-btn: rgb(169, 230, 113);
$car-btn: rgb(113, 222, 230);
$car-race: #525252;
$car-race-border: #fff;
$table-row: #504b4b;
$btn-disabled: #c1c7bb;
