.winners {
  &__pagination {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
  }

  &__wrapper {
    width: 7rem;
    height: 3rem;
    display: flex;
    justify-content: space-between;

    .pagination {
      &__button {
        box-sizing: border-box;
        color: var(--main-text);
        padding: 1.2rem;
        background-color: transparent;
        border: 0.2rem solid var(--main-text);
        border-radius: 0.5rem;
        font-weight: 300;
        font-size: 1.4rem;
        position: relative;
        cursor: pointer;
        transition: all 0.2s;

        &--active {
          border: 0.2rem solid var(--primary);
          background-color: var(--primary);
        }

        &:hover {
          border: 0.2rem solid darken(#51b56d, 10%);
          background-color: darken(#51b56d, 10%);
        }

        &:disabled {
          background-color: var(--disabled);
          border: 0.2rem solid var(--disabled);
          color: var(--main-text);
          cursor: auto;

          &:hover {
            background-color: var(--disabled);
            border: 0.2rem solid var(--disabled);
          }
        }
      }

      &__icon {
        position: absolute;
        top: 0.5rem;
        left: 0.5rem;
      }
    }
  }
}
