.table {
  &__header {
    border: 0.1rem solid var(--main-text);
    background-color: var(--main-bg-light);
    padding: 1rem 0.5rem;
  }

  &__sort {
    cursor: pointer;
    position: relative;

    &--asc {
      &::after {
        position: absolute;
        content: "^";
        transform: rotate(180deg);
        width: 2rem;
        height: 2rem;
        color: var(--main-text);
        right: 1rem;
      }
    }

    &--desc {
      &::after {
        position: absolute;
        content: '^';
        width: 2rem;
        height: 2rem;
        color: var(--main-text);
        right: 0;
      }
    }
  }
}
