.header {
  &__item {
    margin: 0.3rem;
  }

  &__link {
    color: var(--main-bg);
    text-decoration: none;
    background-color: var(--primary-btn);
    padding: 0.3rem 1rem;
    font-size: 1.8rem;
  }
}
