.track {
  &__img {
    width: 10rem;
    height: 7rem;
    position: absolute;
    top: 0;

    &--table {
      position: static;
      width: 6rem;
      height: 2rem;
      padding-top: 1rem;
    }
  }
}
