.info {
  &__wrapper {
    display: flex;
    gap: 1rem;
  }

  &__button-wrapper {
    box-sizing: border-box;
    position: relative;
  }

  &__button {
    cursor: pointer;
    border: 0;
    color: var(--main-light);
    padding: 0.6rem 1rem 0.6rem 2.6rem;
    background-color: transparent;
    border: 0.2rem solid var(--main-bg);
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
    font-weight: 300;
    font-size: 1.4rem;
    transition: all 0.2s;

    &:hover{
      border: 0.2rem solid var(--active);
      background-color: var(--active);
    }

    &--active {
      border: 0.2rem solid var(--active);
      background-color: var(--active);

      &:hover {
        border: 0.2rem solid darken(#5b25b1, 10%);
        background-color: darken(#5b25b1, 10%);
        color: var(--main-text);
      }
    }

    &--delete:hover {
      border: 0.2rem solid var(--red);
      background-color: var(--red);
    }
  }

  &__icon {
    position: absolute;
    top: 0.7rem;
    left: 0.5rem;
    font-size: 1.6rem;
  }

  &__name {
    margin: 0;
    font-size: 2.5rem;
  }
}
