.button {
  cursor: pointer;
  border: 0.1rem solid var(--primary);
  background-color: var(--primary);
  color: var(--main-text);
  padding: 0.6rem 0.8rem;
  margin-right: 0.8rem;
  border-radius: 0.5rem;
  position: relative;

  &:hover {
    background-color: darken(#51b56d, 10%);
    border: 0.1rem solid darken(#51b56d, 10%);
  }

  &__race {
    background-color: var(--transparent);
    border: 0.1rem solid var(--race);
    color: var(--race);
    font-size: 2rem;
    width: 16rem;

    &:hover {
      border: 0.1rem solid var(--race);
      background-color: var(--race);
      color: var(--main-text);
    }
  }

  &__edit {
    background-color: var(--active);
    border: 0.1rem solid var(--active);
  }

  &--disabled {
    background-color: var(--disabled);
    border: 0.1rem solid var(--disabled);
    color: var(--main-text);
    cursor: auto;

    &:hover {
      background-color: var(--disabled);
      border: 0.1rem solid var(--disabled);
    }
  }
}
