.button {
  cursor: pointer;
  border: 0.1rem solid var(--text-light);
  background-color: var(--primary-btn);
  color: var(--main-bg);
  margin-right: 0.8rem;

  &:hover {
    background-color: lighten(rgb(169, 230, 113), 10%);
  }

  &--disabled {
    background-color: var(--btn-disabled);
    cursor: auto;

    &:hover {
      background-color:  var(--btn-disabled);
    }
  }

  &--controls {
    width: 13.2rem;
    height: 2.6rem;
  }
}
